@charset "UTF-8";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}
.custom-navbar {
	position: fixed;
	left: 0;
	right: 0;
	z-index: 10;
}

nav {
    position: relative;
}

.input-search-absolute {
    display: flex;
    align-items: center;
    position: absolute;
    top: 90%;
    left: 66.7%;
    right: 50px;
    z-index: 10;
}

.input-search-absolute input {
    padding: 4px 4px 4px 4px;
    border-radius: 10px;
    outline: none;
    border: none;
    width: 20%;
}

.input-search-absolute button {
    padding: 4px 15px;
    border-radius: 10px;
    color: #fff;
    background-color: transparent;
    outline: none;
    border: none;
    font-size: 16px;
}

.input-search-absolute button:hover {
    background-color: #3b71ca;
}

.hide {
    opacity: 0;
    transform: translateY(250%);
    transition: .3s all;
    z-index: 1;
}

.show {
    opacity: 1;
    transform: translateY(0);
    transition: .3s all;
    z-index: 10;
}

.nav-link i {
    color: #fff;
    font-size: 16px;
}

.dropdown-mycustom {
    position: relative;
}
.dropdown-mycustom div {
    cursor: pointer;
}
.dropdown-mylist {
    position: absolute;
    right: 20%;
    top: 100%;
    list-style: none;
    background-color: #fff;
    border-radius: 10px;
    padding-left: 0;
    width: 300%;
    z-index: 10;
    display: none;
}
.dropdown-mylist li {
    display: flex;
    margin-right: 0;
    cursor: pointer;
    border-radius: 10px;
}
.dropdown-mylist li:hover {
    background-color: #d8dbdf;
}

.dropdown-mylist li i {
    font-size: 16px;
    padding: 0 10px;
}

.show-menupuser {
    display: block;
}

@media (max-width: 768px) {
    .input-search-absolute {
        position: relative;
        left: 0;
        padding-left: 0;
    }

    .input-search-absolute input {
        width: 80%;
    }

    .dropdown-mylist {
        width: 500%;
        left: 0;
    }
}
